
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>Hello, on this page you can read more about the goal of this project.</p>

<p>The goal of this project is to learn more about the .NET stack using visual studio, SQL, C#, and of course .NET.</p>
<p>To do this I a building a catalog of my tools and various parts in my collections.</p>